# （必须）应用服务名称，需要确保当前系统没有该同名服务
SERVICE_NAME=nineya-blog
# （必须）服务对应的安装程序文件名
SERVICE_FILE=blog-1.2.0.jar
# （必须）服务程序的main方法类
MAIN_FUNCTION=com.nineya.blog.AuthMain
# 服务描述
SERVICE_DESC=
# 服务版本，默认为1.0.0
VERSION=1.2.0
# 服务安装位置，默认为/opt/$SERVICE_NAME
INSTALL_PATH=/www/wwwroot/blog
# JAVA环境变量
JAVA_HOME=/usr/lib/jvm/jre-11-openjdk-11.0.11.0.9-1.el7_9.x86_64
# JVM选项（多个参数用空格隔开，需要用“"”号包裹）
JVM_OPTIONS=-Xmx240m
# 程序需要的参数（多个参数用空格隔开，需要用“"”号包裹）
PROGRAM_ARGUMENTS=
# 服务依赖的某些程序的路径，安装时需要一同安装，多个路径用“,”分隔
LIB_PATH=lib/*
# 服务安装后的管理命令，默认为$SERVICE_NAME
COMMEND_NAME=blog
